* {
    margin: 0;
    padding: 0;

}

body {
   background-image: url(images/cherry-blossom.jpg);
}
header {
    display: flex;
    justify-content:space-between;
    flex: 1;
    flex-wrap: wrap;
  }
header img {
    border-radius: 75%;
}

.logo img {
    height: auto;
    width: 60px;
    padding: 8px;

}

a {
    text-decoration: none;
    color:palevioletred;
}
.links ul {
    font-size: 24px;
    
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 8px;

    
}
.hero-title {
    text-align: center;
    font-size: 48px;
    font-family: cursive;
}

.hero-title-text {
    text-align: center;
    font-size: 16px;
    font-family:fantasy;
    color: purple;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.hero-text div{
    padding: 20px;
}

.hero-splash img{

    height: auto;
    width: 600px;
    padding-left: 20px;
}
.hero-text{
    height: auto;
    width: 400px;
    font-size: large;
    flex-wrap: wrap;
  
}

.decks {
   
    justify-content: center;
}

.text-decks {
    padding: 20px 100px;
}


   
.list-decks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 75px;
}
    
.list-decks img {
        border-radius: 25px;
        
        height: auto;
        width: 100%;
}

figure {
    width: 150px;
    height: auto;
    margin: 10px;
    border-radius: 25px;
    flex-shrink: 0;
    justify-content: center;
    
    }

figcaption {
    border-radius: 25px;
    text-align: center;
    
}

.banner {
    justify-self: center;
 }
 .banner img{
     height: auto;
     width: 600px;
 }

 footer {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(images/pastel-sky.jpg);
}
.about {
    display: flex;
}
.about img {
    height: auto;
    width: 100px;
}